.sign-up-container{
    background-color: #FFFFFF;
    height: 100%;
    padding:20px;
    text-align: center;
}
form{
    padding: 20px;
    gap:10px;
}
h1{ 
    color: #0080A8;
    
}
.input-field{
    max-width: 350px;
    margin: 30px auto;
    position: relative;
}
.input-field input{
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border:  1px solid #474747;
    padding: 5px 15px ;
}
.form-label{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: white;
    padding: 5px;
    transition: 0.3s ease-in-out ;
}
.input-field input:focus+.form-label,.filled-form-label{
    top:0;
    font-size: 14px;
    /* left:5px; */
}
.sign-up-page-button{
    background-color: #0080A8;
    margin: 25px auto ;
    padding: 10px 50px;
    color: #FFFFFF;
    cursor:pointer;
    font-size: 24px;
    border:none;
    border-radius: 10px;
}
.text-field-error-text{
    position: absolute;
    top: calc(100% + 5px);
    color: red;
}