.main-ask-container{
    background-color: blueviolet;
}
.ask-container{
    background-color: blueviolet;
    width: 500px;
    height: 500px;
    /* position: relative; */
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap:20px;
   

}
.box{
    background-color:darkred;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    /* position: absolute; */
    /* transform: translate(-50%,-50%); */
    /* left:50% ; */
    /* top:50%; */
}