*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body,#root,.App{ 
  height: 100%;
  background-color:  #E5E5E5;;
}

.App{
  display: grid;
  grid-template-rows: auto 1fr;
}

header{
  background-color:#FFFFFF;
  box-shadow: 0px 4px 4px 4px rgba(79, 79, 79, 0.15);
  padding: 20px 0;
}

.main-section-container{
  overflow: auto;
}
.container{
  max-width: 1200px;
  /* padding: 0 10px; */
  margin: auto;
}

header .container{
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap:15px;
  align-items: center;
}
.login-button,.sign-up-button{
  padding: 8px 20px;
  background: #0080A8;
  color: white;
  border-radius: 10px;
  
}
.login-button{
  background-color: unset; 
  color: #0080A8;
}
.category-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 35px;
  padding: 50px;
}

.category-card{
  display: grid;
}
.category-image{
  width: 100%;
  display: block;
}
.details-section{
  background-color: #FFFFFF;
  padding: 15px;
}

.details-section p{   
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient:vertical ;
  overflow: hidden;
}
.details-section h1{  
  /* display:-webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient:vertical ; */
   overflow: hidden;
   line-height: 35px;
   width: 100%;
   height: 35px;
   text-overflow: ellipsis;
   font-size: 25px;
}
.main-section-container{
  padding: 40px;
  height: 100%;
  background-color: #E5E5E5;
}
.counter-page-button{
  background-color: brown;
  color: #FFFFFF;
  font-size: 24px;
  border:none;
  border-radius: 10px;
}
.counter-page{
  max-width: 500px;
  margin: auto;
}
.todo-input-section{
  display: grid;
  grid-template-columns: 1fr auto;
}
.list-out{
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 10px;
}